.navbar-default {
	background-color: #1A1E1E;
}

header {
	background: none repeat scroll 0% 0% #700000;
}

section.success {
    background: none repeat scroll 0% 0% #700000;
}

hr.star-light:after {
    background-color: #700000;
}

footer .footer-above {
    background-color: #5F6363;
}

footer .footer-below {
    background-color: #1A1E1E;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    /*color: #FFF;*/
    background-color: #700000;
    border-color: #700000;
}

.btn-success {
    /*color: #FFF;*/
    background-color: #F28705;
    border-color: #F28705;
}

body {
    color: #1A1E1E;
}

hr.star-primary:after {
    color: #1A1E1E;
    /*background-color: #FFF;*/
}

hr.star-primary {
    border-color: #5F6363;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: none repeat scroll 0% 0% #700000;
    transition: all 0.5s ease 0s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #5F6363;
}

a {
    color: #700000;
    text-decoration: none;
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0px none;
    color: #700000;
}

.floating-label-form-group-with-focus label {
    color: #700000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5F6363;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #5F6363;
    background-color: transparent;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #700000;
}

*:before, *:after {
    box-sizing: border-box;
}
#blog .blog-item .blog-link .caption:hover {
    opacity: 1;
}

#blog .blog-item {
    right: 0;
    margin: 0 0 15px;
}

#blog .blog-item .blog-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#blog .blog-item .blog-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #700000;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#blog .blog-item .blog-link .caption:hover {
    opacity: 1;
}

#blog .blog-item .blog-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#blog .blog-item .blog-link .caption .caption-content i {
    margin-top: -12px;
}

#blog .blog-item .blog-link .caption .caption-content h3,
#blog .blog-item .blog-link .caption .caption-content h4 {
    margin: 0;
}

#blog * {
    z-index: 2;
}

@media(min-width:767px) {
    #blog .blog-item {
        margin: 0 0 30px;
    }
}

.blog-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.blog-modal .modal-content img {
    margin-bottom: 30px;
}

.blog-modal .modal-content .item-details {
    margin: 30px 0;
}

.blog-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.blog-modal .close-modal:hover {
    opacity: .3;
}

.blog-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.blog-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;;

    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#blog {
	background-color: #D6DAD9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: #1A1E1E;
    border-color: #1A1E1E;
}

.btn-primary {
    color: #FFF;
    background-color: #5F6363;
    border-color: #5F6363;
}

.col-lg-12 {
    text-align: center;
}

.imgLiquid {
    padding: 0;
    border-radius: 50%;
}

#imgLiquids {
    text-align: center;
    position: relative;
}

#imgLiquid1 {
    z-index: 1;
}

#imgLiquid2 {
    z-index: 2;
}

#imgNonLiquid {
    position: relative;
    z-index: 99;x
}

#filters button {
/*    background: #700000;
    color: #ffffff;*/
    -moz-box-shadow:inset 0px 34px 0px -15px #700000;
    -webkit-box-shadow:inset 0px 34px 0px -15px #700000;
    box-shadow:inset 0px 34px 0px -15px #700000;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #700000), color-stop(1, #700000));
    background:-moz-linear-gradient(top, #700000 5%, #700000 100%);
    background:-webkit-linear-gradient(top, #700000 5%, #700000 100%);
    background:-o-linear-gradient(top, #700000 5%, #700000 100%);
    background:-ms-linear-gradient(top, #700000 5%, #700000 100%);
    background:linear-gradient(to bottom, #700000 5%, #700000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#700000', endColorstr='#700000',GradientType=0);
    background-color:#700000;
    /*border:1px solid #241d13;*/
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #700000;

}

#filters button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #700000), color-stop(1, #700000));
    background:-moz-linear-gradient(top, #700000 5%, #700000 100%);
    background:-webkit-linear-gradient(top, #700000 5%, #700000 100%);
    background:-o-linear-gradient(top, #700000 5%, #700000 100%);
    background:-ms-linear-gradient(top, #700000 5%, #700000 100%);
    background:linear-gradient(to bottom, #700000 5%, #700000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#700000', endColorstr='#700000',GradientType=0);
    background-color:#700000;    
}

#filters button:active {
    position:relative;
    top:1px;
}

.item {
    width: 30%;
    text-align: center;
    background: #D6DAD9;
    padding: 20px;
}

.portfolio-link {
    /*padding: 20px;*/
}


.item2 { 
    width: 48%;  
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
}

.item2 {
    border: 2px #000000;
    background: #5F6363;
}

.item2 #title {
    text-align: center;
}

.item2 #content img {
/*    text-align: center;
    float: left; 
    margin-right: 1em;
    margin-bottom: 1em;
    width: 50%;
*/}

.item a:hover {
    text-decoration: none;
}

.align-left {
    float: left; 
    margin-right: 1em;
    margin-bottom: 1em;
    width: 50%;
}

.btn input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}

hr.star-secondary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-secondary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-secondary {
    border-color: #2c3e50;
}

hr.star-secondary:after {
    color: #2c3e50;
    background-color: #D6DAD9;
}

.modal-backdrop {
    position: relative;
 }